#wa-cover {
	display: inline;
}
#wa-cover-preview:hover {
	cursor: pointer;
}

#wa-spread1 {
	display: none;
}
#wa-spread1-preview:hover {
	cursor: pointer;
}

#wa-spread2 {
	display: none;
}
#wa-spread2-preview:hover {
	cursor: pointer;
}
