#wa-cover {
	display: inline;
}
#wa-cover-preview:hover {
	cursor: pointer;
}

#wa-spread1 {
	display: none;
}
#wa-spread1-preview:hover {
	cursor: pointer;
}

#wa-spread2 {
	display: none;
}
#wa-spread2-preview:hover {
	cursor: pointer;
}
.entry-content,
.entry-content > *,
.entry-summary,
.entry-summary > *,
.page-content,
.page-content > * {
	max-width: 100%;
}

.entry-content,
.entry-content > *,
.entry-summary,
.entry-summary > *,
.page-content,
.page-content > * {
	max-width: 100%;
}

.entry-content,
.entry-content > *,
.entry-summary,
.entry-summary > *,
.page-content,
.page-content > * {
	max-width: 100%;
}
